@media (width >= 1366px) {
}

@media (876px < width < 1366px) {
}

@media (width <= 876px) {
}

.GameDetailWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-size: 20px;

	@media (width <= 876px) {
		font-size: 16px;
	}
}

.TitleContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Title {
	text-align: center;
	margin-right: 1rem;
}

.Savebtn {
	border: 1px solid;
}

.Savebtn:active {
	transform: translateY(1px);
}

.GameInfoWrapper {
	display: flex;
	width: 80%;

	@media (width >= 1366px) {
		flex-direction: row;
	}

	@media (876px < width < 1366px) {
		flex-direction: row;
	}

	@media (width <= 876px) {
		width: 80%;
		/* align-items: center; */
		flex-direction: column;
	}
}

.IGDBbtn {
	/* background-color: transparent; */
	border: 1px solid;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;

	@media (width >= 1366px) {
		width: 400px;
	}

	@media (876px < width < 1366px) {
		width: 264px;
	}

	@media (width <= 876px) {
		width: 200px;
	}
}

.IGDBbtn:active {
	transform: translateY(1px);
}

.Artwork {
	flex: 1;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
	margin-bottom: 2rem;
	margin-right: 2rem;

	@media (width >= 1366px) {
		width: 400px;
	}

	@media (876px < width < 1366px) {
		width: 264px;
	}

	@media (width <= 876px) {
		width: 200px;
	}

	/* border: solid; */
}

.GameInfoTable {
	align-self: flex-start;
}

.InfoInput {
	@media (width <= 876px) {
		width: 10rem;
	}
}

.tdCentered {
	text-align: center;
}
