@media (width >= 1366px) {
}

@media (876px < width < 1366px) {
}

@media (width <= 876px) {
}

.GameDetailWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	/* border: solid yellow; */

	@media (width >= 1366px) {
		/* width: 50%; */
	}

	@media (876px < width < 1366px) {
	}

	@media (width <= 876px) {
		font-size: 16px;
	}
}

.ControlPanel {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;

	@media (width >= 1366px) {
		flex-direction: row;
	}

	@media (876px < width < 1366px) {
		flex-direction: row;
	}

	@media (width <= 876px) {
		flex-direction: column;
	}
}

.DeleteContainer {
	flex: 1;
	margin: 1rem;

	@media (width >= 1366px) {
		order: 1;
	}

	@media (876px < width < 1366px) {
		order: 1;
	}

	@media (width <= 876px) {
		order: 1;
	}
}

.DeleteBtn {
	border: 1px solid;
}

.DeleteBtn:active {
	transform: translateY(1px);
}

.TitleContainer {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;

	@media (width >= 1366px) {
		order: 2;
	}

	@media (876px < width < 1366px) {
		order: 2;
	}

	@media (width <= 876px) {
		order: 2;
	}
}

.Title {
	text-align: center;
	margin-right: 1rem;
}

.SaveContainer {
	flex: 1;
	margin: 1rem;

	@media (width >= 1366px) {
		order: 3;
	}

	@media (876px < width < 1366px) {
		order: 3;
	}

	@media (width <= 876px) {
		order: 3;
	}
}

.Savebtn {
	border: 1px solid;
}

.Savebtn:active {
	transform: translateY(1px);
}

.GameInfoWrapper {
	display: flex;
	width: 100%;
	justify-content: center;

	/* border: solid red; */

	@media (width >= 1366px) {
		flex-direction: row;
	}

	@media (876px < width < 1366px) {
		flex-direction: row;
	}

	@media (width <= 876px) {
		flex-direction: column;
	}
}

.IGDBbtn {
	/* background-color: transparent; */
	border: 1px solid;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
	flex: 1;
	flex-grow: 0;

	@media (width >= 1366px) {
		width: 400px;
	}

	@media (876px < width < 1366px) {
		width: 264px;
	}

	@media (width <= 876px) {
		width: 200px;
	}
}

.IGDBbtn:active {
	transform: translateY(1px);
}

.ArtworkContainer {
	/* border: solid; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media (width >= 1366px) {
		margin-right: 2rem;
	}

	@media (876px < width < 1366px) {
		margin-right: 2rem;
	}

	@media (width <= 876px) {
		margin-bottom: 1rem;
	}
}

.Artwork {
	flex: 1;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
	/* align-self: center; */
	flex-grow: 0;
	/* margin-bottom: 2rem; */
	/* margin-right: 2rem; */
	/* align-self: center; */
	/* border: solid; */

	@media (width >= 1366px) {
		width: 400px;
	}

	@media (876px < width < 1366px) {
		width: 264px;
	}

	@media (width <= 876px) {
		width: 200px;
	}

	/* border: solid; */
}

.GameInfoTable {
	/* align-self: flex-start; */
	display: flex;
	flex-direction: column;
	align-items: center;

	/* border: solid red; */

	@media (876px < width < 1366px) {
	}
}

.InfoInput {
	@media (width <= 876px) {
		width: 10rem;
	}
}

.tdCentered {
	text-align: center;
}

.TrailerWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 1rem;

	@media (width >= 1366px) {
		flex-direction: row;
		justify-content: flex-start;
	}

	@media (876px < width < 1366px) {
		flex-direction: row;
		justify-content: flex-start;
	}

	@media (width <= 876px) {
		flex-direction: column;
	}
}
