.Menu {
	/* Container */
	flex: 1;

	/* Inhalt */
	display: flex;

	color: var(--font);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 90%,
		rgba(0, 212, 255, 1) 100%
	);
	user-select: none;

	@media (width >= 1366px) {
		height: 10dvh;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	@media (384px < width < 1366px) {
		height: 10dvh;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	@media (width <= 384px) {
		height: auto;
		flex-direction: column;
		flex-wrap: wrap;
	}
}

.Headline {
	/* Container */
	flex: 1;
	margin: auto;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	gap: 0.5rem;

	/* Inhalt */
	display: flex;
	justify-content: center; /* In Flexbox: Horizontal zentrieren */
	align-items: center; /* In Flexbox: Vertikal zentrieren */
	white-space: nowrap;
	font-weight: bolder;
	font-family: var(--font-1);

	@media (width >= 1366px) {
		font-size: 2.2rem;
	}

	@media (384px < width < 1366px) {
		font-size: 2.2rem;
	}

	@media (width <= 384px) {
		font-size: 1.8rem;
	}
}

.DesktopWrapper {
	display: flex;
	flex-direction: row;
	flex: 2;

	@media (width <= 384px) {
		display: none;
	}
}

.DesktopNavbar {
	/* Container */
	display: flex;
	flex: 2;

	/* Inhalt */
	margin: auto;
	gap: 1rem;
	align-items: center;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;

	justify-content: flex-start;
	flex-wrap: nowrap;
	margin-right: 5rem;
}

.MobileWrapper {
	display: flex;
	flex-direction: column;
	flex: 1;

	@media (width >= 1366px) {
		display: none;
	}

	@media (384px < width < 1366px) {
		display: none;
	}

	> .MenuButton {
		flex: 1;
		border: none;
		background: transparent;
		color: var(--font);
	}
}

.MobileNavbar {
	/* Container */

	display: none;

	/* Inhalt */

	@media (width <= 384px) {
		display: flex;

		width: 90%;
		margin: auto;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;

		flex-direction: column;
		flex: 1;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
}
.MenuItem {
	/* Container */
	flex: 1;

	/* Inhalt */
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-transform: uppercase;
	font-family: var(--font-1);
	font-weight: 700;
	gap: 0.5rem;

	height: 2rem;

	border: 2px solid var(--primary-border);
}

.MenuIcon {
	width: 2rem;
}

.MenuItem:hover {
	color: var(--hover);
	border: 2px solid var(--hover);
}

.Link {
	text-decoration: none;
	color: var(--font);
	font-weight: bolder;
	display: flex;
	flex: 1;

	@media (width >= 1366px) {
		width: 10%;
	}

	@media (384px < width < 1366px) {
		width: 45%;
	}

	@media (width <= 384px) {
		width: 70%;
	}
}
