:root {
	/* Debug-Farben */
	--red: rgb(255, 0, 0);
	--green: rgb(0, 255, 0);
	--blue: rgb(0, 0, 255);

	--debug-r: var(--red);
	--debug-g: var(--green);
	--debug-b: var(--blue);

	/* Layout-Farben */
	--dark-grey: rgb(34, 34, 34);
	--light-grey: rgb(50, 50, 50);
	--white: rgb(255, 255, 255);
	--neon-pink: rgb(220, 35, 115);
	--neon-green: rgb(50, 205, 115);

	/* Funktionen */
	--primary-bg: var(--dark-grey);
	--secondary-bg: var(--light-grey);
	--font: var(--white);
	--accent-pink: var(--neon-pink);
	--accent-green: var(--neon-green);
}
