@media (width >= 1366px) {
}

@media (876px < width < 1366px) {
}

@media (width <= 876px) {
}

.GameDetailWrapper {
	/* border: solid yellow; */

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-self: center;
	width: 95%;
	margin: auto;
}

.ControlPanel {
	/* border: solid green; */

	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.TitleContainer {
		display: flex;
		justify-content: center;

		.Title {
			text-align: center;
		}
	}

	.BtnContainer {
		/* border: solid red; */

		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;

		.EmptyDiv {
			flex-grow: 2;
		}
	}
}

.DetailContainer {
	/* border: solid green; */
	width: 100%;

	display: flex;
	justify-content: center;

	@media (width <= 876px) {
		flex-direction: column;
	}
}

.ArtworkContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	@media (width >= 1366px) {
		margin-right: 2rem;
	}

	@media (876px < width < 1366px) {
		margin-right: 2rem;
	}

	@media (width <= 876px) {
		margin-bottom: 1rem;
	}

	.Artwork {
		flex: 1;
		box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
		flex-grow: 0;

		@media (width >= 1366px) {
			width: 400px;
		}

		@media (876px < width < 1366px) {
			width: 264px;
		}

		@media (width <= 876px) {
			width: 200px;
		}
	}

	.SelectGameBtn {
		height: 266.66px;
		margin-left: 1rem;
		margin-right: 1rem;
	}
}
