@media (width >= 1366px) {
}

@media (876px < width < 1366px) {
}

@media (width <= 876px) {
}

.ControlPanel {
	display: flex;
	justify-content: space-between;
	width: 95%;

	@media (width >= 1366px) {
		flex-direction: row;
		/* align-items: flex-start; */
	}

	@media (876px < width < 1366px) {
		flex-direction: row;
		/* align-items: flex-start; */
	}

	@media (width <= 876px) {
		flex-direction: column;
		align-items: center;
	}
}

.TitleContainer {
	@media (width >= 1366px) {
		order: 2;
	}

	@media (876px < width < 1366px) {
		order: 2;
	}

	@media (width <= 876px) {
		order: 1;
	}
}

.FilterContainer {
	flex: 1;

	/* border: solid; */

	@media (width >= 1366px) {
		order: 1;
	}

	@media (876px < width < 1366px) {
		order: 1;
	}

	@media (width <= 876px) {
		order: 2;
	}
}

.Filter {
	border-radius: 10px;
	margin: 1rem;
}

.ResetBtn {
	/* background-color: transparent; */
	border: 1px solid;

	@media (width <= 876px) {
		width: 6rem;
	}
}

.ResetBtn:active {
	transform: translateY(1px);
}

.NewGameContainer {
	flex: 1;
	order: 3;

	display: flex;
	align-items: center;
	justify-content: flex-end;
	/* border: solid; */
}

.NewGame {
	border-radius: 10px;
	margin: 1rem;

	@media (width >= 1366px) {
		order: 2;
	}

	@media (876px < width < 1366px) {
		order: 2;
	}

	@media (width <= 876px) {
		order: 1;
	}
}

.SaveBtn {
	/* background-color: transparent; */
	border: 1px solid;

	@media (width >= 1366px) {
		order: 1;
	}

	@media (876px < width < 1366px) {
		order: 1;
	}

	@media (width <= 876px) {
		order: 2;
		width: 6rem;
	}
}

.SaveBtn:active {
	transform: translateY(1px);
}

.GamesWrapper {
	display: flex;
	justify-content: flex-start;

	@media (width >= 1366px) {
		width: 95%;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	@media (876px < width < 1366px) {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	@media (width <= 876px) {
		flex-direction: column;
		align-items: center;
		width: 80%;
	}
}

.GameInfos {
	display: flex;

	flex: 1;
	flex-grow: 0;
	margin-bottom: 2rem;

	@media (width >= 1366px) {
		flex-direction: row;
		align-items: flex-start;
	}

	@media (876px < width < 1366px) {
		flex-direction: row;
		align-items: flex-start;
	}

	@media (width <= 876px) {
		flex-direction: column;
		align-items: center;
	}
}

.GameName {
	font-size: 28px;
	font-weight: bold;
	/* text-decoration: underline; */
	/* color: var(--accent-green); */

	word-wrap: normal;

	@media (width >= 1366px) {
		text-align: left;
	}

	@media (876px < width < 1366px) {
		text-align: left;
	}

	@media (width <= 876px) {
		text-align: center;
	}
}

.UpdateBtnInactive {
	/* background-color: transparent; */
	outline: none;
	border: 1px solid;
	align-items: center;
	text-align: center;
	width: 100%;

	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

.UpdateBtnInactive:active {
	transform: translateY(1px);
}
.UpdateBtnActive {
	background-color: var(--updateButton);
	outline: none;
	border: 1px solid;
	align-items: center;
	text-align: center;
	width: 100%;

	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

.UpdateBtnActive:active {
	transform: translateY(1px);
}

.ButtonIcon {
	vertical-align: middle;
	font-size: 24px;
}

.InfoTable {
	width: 300px;
	flex: 1;
	margin-bottom: 1rem;
}

.Extended {
	font-size: 20px;
	text-align: left;

	@media (width <= 876px) {
		display: none;
	}
}

.ExtendetList {
	list-style-type: none;
	padding-left: 0;
}

.GameArtwork {
	flex: 1;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
	width: 264px;
}

.GameInfoTableContainer {
	@media (width >= 1366px) {
		order: 2;
	}

	@media (876px < width < 1366px) {
		order: 2;
	}

	@media (width <= 876px) {
		order: 1;
	}
}

.GameArtworkContainer {
	display: flex;
	flex-direction: column;

	@media (width >= 1366px) {
		order: 1;
		margin-right: 2rem;
	}

	@media (876px < width < 1366px) {
		order: 1;
	}

	@media (width <= 876px) {
		order: 2;
	}
}
