@media (width >= 1366px) {
}

@media (876px < width < 1366px) {
}

@media (width <= 876px) {
}

.GamesWrapper {
	display: flex;
	justify-content: flex-start;

	font-size: 28px;

	@media (width >= 1366px) {
		width: 95%;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	@media (876px < width < 1366px) {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	@media (width <= 876px) {
		flex-direction: column;
		align-items: center;
		width: 80%;
	}
}

.GameInfos {
	display: flex;

	flex: 1;
	flex-grow: 0;
	margin-bottom: 2rem;

	@media (width >= 1366px) {
		flex-direction: row;
		align-items: flex-start;
	}

	@media (876px < width < 1366px) {
		flex-direction: row;
		align-items: flex-start;
	}

	@media (width <= 876px) {
		flex-direction: column;
		align-items: center;
	}
}

.UpdateBtn {
	background-color: transparent;
	outline: none;
	/* border: none; */
	align-items: center;
	text-align: center;
	width: 100%;
	/* margin-bottom: 0.5rem; */
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
	/* display: none; */
}

.ButtonIcon {
	vertical-align: middle;
	font-size: 24px;
}

.InfoTable {
	width: 300px;
	flex: 1;
	margin-bottom: 1rem;
}

.InfoTableValue {
	text-align: center;
	word-wrap: normal;
}

.InfoTableValueExtended {
	@media (width <= 876px) {
		display: none;
	}
}

.GameArtwork {
	flex: 1;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
	/* box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px 0px; */
	/* border: 2px solid black; */
	/* box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px; */
	/* position: absolute; */
}

.GameInfoTableContainer {
	@media (width >= 1366px) {
		order: 2;
	}

	@media (876px < width < 1366px) {
		order: 2;
	}

	@media (width <= 876px) {
		order: 1;
	}
}

.GameArtworkContainer {
	display: flex;
	flex-direction: column;

	@media (width >= 1366px) {
		order: 1;
	}

	@media (876px < width < 1366px) {
		order: 1;
	}

	@media (width <= 876px) {
		order: 2;
	}
}

/* .GameArtworkContainer:hover {
	transform: scale(1);
	transition: 0.5s ease-in-out;
} */
