.siteWrapper {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	/* width: 100dvw; */

	/* border: solid brown; */
}

.siteContent {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: var(--primary-bg);
	margin: 0;
	/* border: solid green; */
}
