.siteFooter {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.1rem;

	color: var(--font);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 90%,
		rgba(0, 212, 255, 1) 100%
	);
	user-select: none;
}
