.siteLayout {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;

	font-family: var(--font-1);
	color: var(--secondary-font);
}

.Link {
	text-decoration: none;
	color: var(--secondary-font);
}

.Link:hover {
	color: var(--hover);
}
